<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tj.mystaffmanager.mapper.LoginMapper">
    <!-- 登录验证 -->
    <select id="getCountByLogin" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM staff_database.staff_login
        where staff_num = #{staffNum,jdbcType=INTEGER}
          and password = #{password,jdbcType=VARCHAR}
    </select>
</mapper>